<Project>
	<PropertyGroup>
		<NuGetPackagesPath Condition=" '$(NuGetPackagesPath)' == '' ">..\packages</NuGetPackagesPath>
		<!-- Copy this file to ZoopMod.VS.props and update the paths below for your machine. -->
		<RootFolder>C:\Path\To\Steam\steamapps</RootFolder>
		<StationeersDirectory>$(RootFolder)\common\Stationeers</StationeersDirectory>
		<UnityEditorDirectory>C:\Path\To\Unity\Editor\Data\Managed</UnityEditorDirectory>
		<StationeersModDirectory>$(StationeersDirectory)\BepInEx\plugins\StationeersLaunchPad\</StationeersModDirectory>
		<ManagedDirectory>$(StationeersDirectory)\rocketstation_Data\Managed\</ManagedDirectory>
		<StationeersModOutputFolder Condition=" '$(StationeersModOutputFolder)' == '' ">C:\Users\%USERNAME%\Documents\My Games\Stationeers\mods</StationeersModOutputFolder>
		<CreativeFreedomModPath Condition=" '$(CreativeFreedomModPath)' == '' ">$(RootFolder)\workshop\content\544550\3193624149</CreativeFreedomModPath>
	</PropertyGroup>
</Project>
